// colours
$brand-colorLight: #a0e7cf;	// rgb(160,231,207)
$brand-colorMed: #59c6c0;		// rgb(89,198,192)
$brand-colorDark: #009b8f;		// rgb(0,155,143)
$neutralDark: #8a8883;
$neutralLight: #fcfbe3;


// font families
$font-sans: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;

// font weights
$normal: 400;
$bold: 700;

// font sizes
$base-font-size: 16*1em;
$base-line-height: (25/16)*1em;